<style>
  .message-content {

  }
</style>

<div class="message-content" >
  <p>Olá, {{name}}.</p>
  <p>Para que você possa realizar a alteração de senha</p>
  <p>Clique no link abaixo:</p>
  <p>
    <a href={{link}}>Resetar senha</a>
  </p>
  <p>Caso não tenha sido você, desconsidere esse email</p>
  <p>
    Obrigado!<br/>
    <strong>Equipe GymAcademy</strong>
  </p>
</div>