<div class="message-content" >
  <h1>BANIDO(A)</h1>

  <div class="info_user">
    <h2>{{name}}</h2>
    <p>Sua conta será excluida</p>
  </div>

  <p>Essa conta será excluida por violações dos termos de uso</p>
  <span>Se você deseja contestar o banimento envie um email para: ouvidoria@gymacademy.com.br</span>
</div>