<div class="message-content" >
  <strong>Olá, {{name}}!</strong>
  <p>Desulpe, você já deve saber mas, infelizmente você não faz mais parte do nosso time!!!</p>
  <p>Desejamos toda sorte na sua jornada!!</p>
</div>